{% extends 'base.html.twig' %}
{% block title %}Gallery{% endblock %}

{% block stylesheets %}
    {{ parent() }}
<link type="text/css" rel="stylesheet" href="/css/lightgallery.css" />
{% endblock %}

{% block content %}
    <h2 class="page-title">Fotky ze svatby</h2>

<div class="row2 container content">
    <div id="lightgallery">

    {% for image in images %}

        {#<div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="/uploads/{{ image.file() }}" alt="...">
                    <div class="caption">
                        <h3>{{ image.title() }}</h3>
                         <p>...</p>
                        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                     </div>
                </div>
            </div>#}
        <a href="{{ image.getImageUrl() }}" class="col-xs-6 col-md-3">

                <img class="thumbnail" src="{{ image.getThumbUrl() }}" alt="{{ image.originalTime().format('Y-m-d H:i:s') }}" />
            </a>
    {% endfor %}
</div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="/js/lightgallery.min.js"></script>

    <!-- A jQuery plugin that adds cross-browser mouse wheel support. (Optional) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.13/jquery.mousewheel.min.js"></script>

    <!-- lightgallery plugins -->

    <script src="/js/lg-thumbnail.min.js"></script>
    <script src="/js/lg-fullscreen.min.js"></script>
    <script type="text/javascript">
		$(document).ready(function() {
			$("#lightgallery").lightGallery({
				thumbnail:true,
				loadYoutubeThumbnail: true,
				youtubeThumbSize: 'default',
				loadVimeoThumbnail: true,
				vimeoThumbSize: 'thumbnail_medium',
			});
		});
    </script>
{% endblock %}
