<!DOCTYPE html>
<html lang="cs">
    <head>
        {% block head %}
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/manifest.json?v={{fver}}">
    
        <title>Svatba Gabči a Mildy</title>
        <!-- Bootstrap -->
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/countdown.css">
        <link rel="stylesheet" type="text/css" href="/css/styl.css?v={{fver}}">
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-56377132-3"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() { dataLayer.push(arguments); }
            gtag('js', new Date());

            gtag('config', 'UA-56377132-3');
        </script>
        <!-- PushAlert -->
        {# 
        <script type="text/javascript">
                (function(d, t) {
                        var g = d.createElement(t),
                        s = d.getElementsByTagName(t)[0];
                        g.src = "https://cdn.pushalert.co/integrate_70b83648ef266400c94dc8c2cdfefa5c.js";
                        s.parentNode.insertBefore(g, s);
                }(document, "script"));
        </script>
        <!-- End PushAlert -->
        #}

        {% endblock %}
        {% block stylesheets %}{% endblock %}
    </head>
<body>
<nav class="navbar navbar-default navbar-fixed-top text-center">
<div class='countdown' data-date="2020-08-22" data-time="12:00"></div></nav>

<div class="jumbotron text-center">
      <a href="{{path('wedding')}}" class=""><img class="mx-auto d-block" src="/img/venec.png" alt="Svatba Gabči a Mildy"/></a>

        </div>

      <div class="container" id="nav">
      <div class="row">
        {% for nav in menu %}
            <div class="col-lg-2 col-4  menuimg">
                <a href="{{nav.url}}">
                    <img class="mx-auto d-block" src="/img/{{nav.name}}.png?v=25" alt="{{nav.alt}}" />
                </a>
            </div>
        {% endfor %}
        </div>
      </div>

{% if keyh != '' %}
    {#
<div class="alert alert-success">
  <strong>Success!</strong> {{user.what_color() }} Indicates a successful or positive action. {{ getenv('TEST_VAR') }}
</div>  #}
{% endif %}

<div class="container content">
    {% block content %}{% endblock %}
</div>
{% block footer %}
    <div class="footer"><em>{{ include('_git.gen.twig', ignore_missing = true)  }}</em>© 2020 Gabriela Štěpánová a Milan Dünghübel</div>
    {% endblock %}
    {% block javascripts %}
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/countdown.js"></script>
    {% endblock %}
  {#  <pre>
        {{ dump() }}
    </pre> #}
{% if debug_out is defined %}
{% endif %}
</body>
</html>
