{% extends "base.html.twig" %}
{% block content %}
<h2 class="page-title">Zatímco my budeme s rodinou baštit, vy se můžete jet podívat na některou z těchto památek:</h2>

{% for tip in tips %}
<hr class="featurette-divider">
<a class="row featurette" href="{{tip.url}}">
  {% if loop.index is odd %}
  <div class="col-md-7">
    {% else %}
    <div class="col-md-7 col-md-push-5"> 
    {% endif %}
    <h2 class="featurette-heading">{{tip.title}}</h2>
    <p class="lead">{{tip.desc}}</p>
  </div>
  {% if loop.index is odd %}
  <div class="col-md-5">
    {% else %}
    <div class="col-md-5 col-md-pull-7">
    {% endif %}
    <img class="featurette-image img-responsive center-block" src="/img/{{tip.img}}" alt="{{tip.title}}">
  </div>
</a>
{% endfor %}

{% endblock %}
